<form class="d-flex" role="edit" method="PATCH" action="<%= user_edit_path %>">
<div class="form-example" >
<label for= "Address"> Enter your full address: </label>
<input type="text" name="name" id="name">
</div>
<div class="form-example" >
<label for= "Postal Code"> Enter your Postal Code: </label>
<input type="text" name="name" id="name">
</div>


      <select class="form-select" aria-label="Default select example" name="Province">
        <option value="all">All Provinces</option>
        <% @p.each do |province| %>
          <option value="<%= province.id %>"><%= province.name %></option>
        <% end %>
      </select>

      <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
