<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>


<h1>Category</h1>
<p><%=@category.name%></p>
 <ul>
  <% @pokemons.each do |pokemon|%>
 <li>
 <%= link_to pokemon.name, pokemon_show_path(pokemon) %>
 </li>
 <% end %>
 </ul>


